body {
  background: rgba(230, 250, 230, 1);
}
/*body a {
  color: #00E;
  text-decoration: none;
  border-radius: 4px;
  border: 2px solid #00A;
}*/
#badge {
  text-align: center;
  border-collapse: collapse;
  border: 0px;
}
#badge table{
  margin:auto;
}
#badge td{
  border: 0px;
  padding: 0px;
  color: #233;
  /* font-family: sans-serif; */
}
#myname1 {
  font-size: 60px;
  height: 90px;
  background: rgb(213,229,255);
}
#myname2 {
  font-size: 40px;
  height: 90px;
  background: rgb(227,237,255);
}
#myname3 {
  font-size: 32px;
  height: 90px;
  background: rgb(241,245,255);
}
#linklist {
  clear: both;
  margin: auto;
  padding:32px;
  text-align: center;
  font-size: 32px;
}
#linklist div {
  border-radius: 8px;
}
.col{
  margin-bottom:16px;
}
.col-inner {
  padding: 16px;
}
#twitter {
  border: 4px solid rgba(0, 170, 240, 1);
  background: rgba(0, 170, 240, 0.3) url(./img/twitter.png) no-repeat 40px bottom;
}
#github {
  border: 4px solid rgba(200, 200, 200, 1);
  background: rgba(200, 200, 200, 0.3) url(./img/github.png) no-repeat 40px bottom;
}
#email {
  border: 4px solid rgba(255, 0, 50, 1);
  background: rgba(255, 0, 50, 0.3) url(./img/email.png) no-repeat 40px bottom;
}
#hateblo {
  border: 4px solid rgba(71, 168, 156, 1);
  background: rgba(71, 168, 156, 0.3) url(./img/hateblo.png) no-repeat 40px bottom;
}
#blog {
  border: 4px solid rgba(100, 150, 30, 1);
  background: rgba(100, 150, 30, 0.3) url(./img/blog.png) no-repeat 40px bottom;
}
#niconico {
  border: 4px solid rgba(50, 50, 50, 1);
  background: rgba(50, 50, 50, 0.3) url(./img/nico.png) no-repeat 40px bottom;
}
#soundcloud {
  border: 4px solid rgba(255, 82, 0, 1);
  background: rgba(255, 82, 0, 0.3) url(./img/soundcloud.png) no-repeat 40px bottom;
}
#amazon {
  border: 4px solid rgba(252, 155, 24, 1);
  background: rgba(252, 155, 24, 0.3) url(./img/amazon.png) no-repeat 40px bottom;
}
#spec {
  border: 8px solid rgba(113, 128, 97, 1);
  border-radius: 16px;
  background: rgba(187, 229, 165, 0.3);
}
