body {
  background: rgba(250, 250, 240, 1);
}

#linklist {
  margin: auto;
  padding:32px;
  text-align: center;
}


#workslist {
  border: 4px solid rgba(0, 0, 0, 1);
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.1);
  margin:16px;
  font-size: 32px;
}
